@charset "UTF-8";

table {
	border-collapse:collapse;
}
.table_block > table {
	border-top:1px solid #000;
	border-left:1px solid #000;
}
.table_block > table > tbody > tr > th ,
.table_block > table > tbody > tr > td {
	border-right:1px solid #000;
	border-bottom:1px solid #000;
	padding:0.5em;
}