<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>TOP</title>
</head>
<body>
	<form th:action="date" th:method="get">
		日付<input type="date" name="startDate" th:value="${startDate}">～ <input
			type="date" name="endDate" th:value="${endDate}"> <input
			type="submit" value="絞込">
	</form>
	<a href="/new"><button type="button">新規投稿</button> </a>
	<div class="messaes" th:each="content : ${contents}">
		<span>ID: <span th:text="${content.id}"></span></span><br> <span>内容:<br>
			<span th:text="${content.content}"></span></span><br> <a
			th:href="@{/edit/{id}(id=${content.id})}"><button type="button">編集</button>
		</a>
		<form th:action="@{/delete/{id}(id=${content.id})}" th:method="delete">
			<input type="submit" value="削除" />
		</form>
		<br>
		<div class="reply" th:each="comment : ${comments}">
			<div class="comments" th:if="${content.id} == ${comment.report_id}">
				<span>コメントID: <span th:text="${comment.id}"> </span></span><br>
				<span>コメント内容:<br> <span th:text="${comment.content}"></span></span><br>
				<a th:href="@{/editComment/{id}(id=${comment.id})}"><button
						type="button">編集</button> </a>
				<form th:action="@{/deleteComment/{id}(id=${comment.id})}"
					th:method="delete">
					<input type="submit" value="削除" />
				</form>
				<br>
			</div>
		</div>
		<form th:action="@{/comment}" th:object="${formModel}"
			th:method="post">
			<input type="text" name="content" size="20" maxlength="200" /><br>
			<input type="submit" value="コメント" /> <input type="hidden"
				name="report_id" th:value="${content.id}">
		</form>


	</div>
</body>
</html>